NODE_ENV=development
PORT=3000
# ADMIN USER
ADMIN_SEED_NAME=Admin Principal
ADMIN_SEED_EMAIL=admin@enviosjca.com
ADMIN_SEED_PASSWORD=contraseña_muy_segura

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=enviosjca
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_NAME=envios

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d
